<html>
<head>
<meta charset="ISO-8859-1" />
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/edit.js"></script>
</head>
<body>

<h1>Alterar jogador - <b id="titleJogador"></b></h1>
<br />

*Nome: <input type="text" id="txtNome" /> <br/>
*E-mail: <input type="text" id="txtEmail" /> <br/>
*Telefone: <input type="text" id="txtTelefone" /> <br/>
<br/>

<input type="submit" id="btnAlterar" value="Editar" /> 
<input type="submit" id="btnListarJogadores" value="Listar jogadores" /> 

</body>
</html>