<html>
<head>
<meta charset="ISO-8859-1" />
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/registration.js"></script>

</head>
<body>

<h1>Cadastro do jogador UOL</h1>
<br />

*Nome: <input type="text" id="txtNome" /> <br/>
*E-mail: <input type="text" id="txtEmail" /> <br/>
*Telefone: <input type="text" id="txtTelefone" /> <br/>
<br/>

*Quero ser do grupo: <br />
<input type="radio" value="1" id="radioLigaDaJustica" name="grupo"  checked="checked"/> Liga da justi&ccedil;a <br />
<input type="radio" value="2" id="radioVingadores" name="grupo" /> Os Vingadores

<br />

<input type="submit" id="btnCadastrar" value="Cadastrar" /> 
<input type="submit" id="btnListarJogadores" value="Listar jogadores" /> 

</body>
</html>